<div class="main-content">
  <app-navbar></app-navbar>

  <div class="row no-gutters main-row">
    <div class="col-lg-2">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-lg-10 mb-5">
      <!-- Top navbar -->
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- Brand -->
          <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
            >User profile</a
          >
        </div>
      </nav>

      <!-- Header -->
      <div
        class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="
          min-height: 600px;
          background-image: url(https://images.unsplash.com/photo-1597898141667-03038de0f217?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
          background-size: cover;
          background-position: center top;
        "
      >
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Hello {{ firstName }}</h1>
              <p class="text-white mt-0 mb-5">
                This is your address page. You can add or, remove addresses.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--7">
        <div class="row">
          <div class="col-xl order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">My Addresses</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <button class="btn btn-info" (click)="address()">
                      Add Address
                    </button>
                  </li>
                  <li *ngFor="let address of addresses" class="list-group-item">
                    <div *ngIf="isSearching === true" class="text-center">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>

                    <div *ngIf="isSearching === false">
                      <div class="h3">
                        {{ address.firstname }}&nbsp;{{ address.lastname }}

                        <div class="dropdown float-right">
                          <i
                            class="fas fa-ellipsis-v dropdown-toggle"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            style="font-size: 18px"
                          ></i>
                          <div
                            class="dropdown-menu dropdown-menu-right"
                            aria-labelledby="dropdownMenuButton"
                          >
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" (click)="remove(address)"
                              >Remove</a
                            >
                          </div>
                        </div>
                      </div>
                      <p>
                        {{ address.building }},&nbsp;{{
                          address.street
                        }},&nbsp;{{ address.street }},&nbsp;Landmark:&nbsp;{{
                          address.landmark
                        }},&nbsp;{{ address.city }}:&nbsp;{{
                          address.zip
                        }},&nbsp;{{ address.state }}
                      </p>
                      <p class="h4">{{ address.phone }}</p>
                    </div>
                  </li>
                </ul>

                <!-- <form [formGroup]="form" (submit)="submit(form)">
                  <h6 class="heading-small text-muted mb-4">
                    User information
                  </h6>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      id="username"
                      formControlName="username"
                      type="email"
                      class="form-control"
                      [ngClass]="
                        form.controls['username'].touched &&
                        form.controls['username'].invalid
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div
                      class="text"
                      *ngIf="
                        form.controls['username'].touched &&
                        form.controls['username'].hasError('required')
                      "
                    >
                      This field is required!
                    </div>
                    <div
                      class="text"
                      [ngClass]="
                        form.controls['username'].hasError('required') ||
                        form.controls['username'].hasError('pattern')
                          ? 'red'
                          : 'text-success'
                      "
                    >
                      <i class="material-icons">{{
                        form.controls["username"].hasError("required") ||
                        form.controls["username"].hasError("pattern")
                          ? "cancel"
                          : "check_circle"
                      }}</i>
                      Invalid email id!
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input
                      id="firstname"
                      formControlName="firstname"
                      type="text"
                      class="form-control"
                      [ngClass]="
                        form.controls['firstname'].touched &&
                        form.controls['firstname'].invalid
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div
                      class="text"
                      [ngClass]="
                        form.controls['firstname'].hasError('required')
                          ? 'red'
                          : 'text-success'
                      "
                    >
                      This field is required!
                    </div>
                    <div
                      class="text"
                      [ngClass]="
                        form.controls['firstname'].hasError('required') ||
                        form.controls['firstname'].hasError('pattern')
                          ? 'red'
                          : 'text-success'
                      "
                    >
                      <i class="material-icons">{{
                        form.controls["firstname"].hasError("required") ||
                        form.controls["firstname"].hasError("pattern")
                          ? "cancel"
                          : "check_circle"
                      }}</i>
                      Accepts only alphabets & spaces. No special characters!
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input
                      id="lastname"
                      formControlName="lastname"
                      type="text"
                      class="form-control"
                      [ngClass]="
                        form.controls['lastname'].touched &&
                        form.controls['lastname'].invalid
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div
                      class="text"
                      [ngClass]="
                        form.controls['lastname'].hasError('required')
                          ? 'red'
                          : 'text-success'
                      "
                    >
                      This field is required!
                    </div>
                    <div
                      class="text"
                      [ngClass]="
                        form.controls['lastname'].hasError('required') ||
                        form.controls['lastname'].hasError('pattern')
                          ? 'red'
                          : 'text-success'
                      "
                    >
                      <i class="material-icons">{{
                        form.controls["lastname"].hasError("required") ||
                        form.controls["lastname"].hasError("pattern")
                          ? "cancel"
                          : "check_circle"
                      }}</i>
                      Accepts only alphabets & spaces. No special characters!
                    </div>
                  </div>

                  <div class="btn-center">
                    <button
                      [disabled]="form.invalid"
                      type="submit"
                      class="btn btn-info btn-block font-weight-bold"
                    >
                      Edit Profile
                    </button>
                  </div>
                </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
