<footer class="page-footer">
  <div class="container-fluid py-3">
    <div class="row list1">
      <div class="col-4 mt-md-0 mb-3 image1">
        <img src="../../assets/img/icon_1.png" alt="" />
        <a href="#"><h5>Quality Food</h5></a>
      </div>

      <div class="col-4 mb-md-0 mb-3 image2">
        <img src="../../assets/img/icon_2.png" alt="" />
        <a href="#"><h5>Original Recipes</h5></a>
      </div>

      <div class="col-4 mb-md-0 mb-3 image3">
        <img src="../../assets/img/icon_3.png" alt="" />
        <a href="#"><h5>Fastest Delivery</h5></a>
      </div>
    </div>

    <div class="row list2">
      <div class="col-md-4 mt-md-0 mb-3">
        <div class="contact-details">
          <div class="location">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <div class="address mx-1">
              Lorem ipsum dolor<br />
              sit amet consectetur
            </div>
          </div>

          <div class="mobile">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <div class="phoneno mx-1">
              +91 9999-999-999<br />
              8:00 am to 11:30 pm
            </div>
          </div>

          <div class="email">
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            <div class="mail-id mx-1">support@foodcart.com</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-md-0 mb-3">
        <div class="about-us">
          <h4>ABOUT US</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h4>CONNECT with US</h4>
        <div class="media-icons">
          <div class="facebook-icon">
            <a href="https://www.facebook.com/" alt="Facebook Login"
              ><i class="fa fa-facebook fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <div class="twitter-icon">
            <a href="https://twitter.com/login?lang=en" alt="Twitter Login"
              ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <div class="insta-icon">
            <a
              href="https://www.instagram.com/accounts/login/?hl=en"
              alt="Instagram Login"
              ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i
            ></a>
          </div>
          <div class="github-icon">
            <a href="https://github.com/" alt="Github Login"
              ><i class="fa fa-github fa-2x" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 text-muted">
    Copyright &copy; 2020 Food Cart. All Rights Reserved.
  </div>
</footer>
