<footer class="page-footer">
  <div class="container-fluid py-3">
    <div class="row justify-content-center list1 mb-3">
      <div class="col-4 mt-md-0 mb-3 text-center">
        <img src="assets/img/icon_1.png" alt="Quality Food" />
        <h5 class="text-dark text-center">QUALITY FOOD</h5>
      </div>

      <div class="col-4 mb-md-0 mb-3 text-center">
        <img src="assets/img/icon_2.png" alt="Original Recipes" />
        <h5 class="text-dark text-center">ORIGINAL RECIPES</h5>
      </div>

      <div class="col-4 mb-md-0 mb-3 text-center">
        <img src="assets/img/icon_3.png" alt="Fastest Delivery" />
        <h5 class="text-dark text-center">FASTEST DELIVERY</h5>
      </div>
    </div>

    <div class="row list2 justify-content-center mb-3">
      <div class="col-md-4 mb-3 text-center">
        <a routerLink="/contact">
          <h4>CONTACT US</h4>
        </a>
        <div class="contact-details">
          <p class="location">
            <span class="address"
              ><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i
              >&nbsp;140, 2a, Netaji Subhash Chandra Bose Rd, Kolkata: 700040,
              <br />West Bengal</span
            >
          </p>

          <p class="mobile">
            <span class="phoneno"
              ><i class="fa fa-phone fa-2x" aria-hidden="true"></i
              >&nbsp;03324218002</span
            >
          </p>

          <p class="email">
            <span class="mail-id"
              ><i class="fa fa-envelope fa-2x" aria-hidden="true"></i
              >&nbsp;support@foodcart.com</span
            >
          </p>
        </div>
      </div>

      <div class="col-md-4 mb-3 text-center">
        <div class="about-us">
          <a routerLink="/about">
            <h4>ABOUT US</h4>
          </a>
          <p>
            Wanna keep your taste buds delightful all the time? <strong>FoodCart</strong> is one
            stop solution where we promise that you won't upset you on your
            taste buds go sour... We at Food Cart deliver the dishes that makes
            you feel amazing and we are certain that we will be your top
            priority once you try once!<br />
            We @<strong>FoodCart</strong> serves the food with rich in its nutrients... Come and
            join us for an amazing experience!
          </p>
        </div>
      </div>

      <div class="col-md-4 mb-3 text-center">
        <h4>CONNECT WITH US</h4>
        <a href="https://www.facebook.com/" alt="Facebook Login"
          ><i class="fa fa-facebook fa-2x text-dark mr-4" aria-hidden="true"></i
        ></a>
        <a href="https://twitter.com/login?lang=en" alt="Twitter Login"
          ><i class="fa fa-twitter fa-2x text-dark mr-4" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.instagram.com/accounts/login/?hl=en"
          alt="Instagram Login"
          ><i
            class="fa fa-instagram fa-2x text-dark mr-4"
            aria-hidden="true"
          ></i
        ></a>
        <a href="https://github.com/" alt="Github Login"
          ><i class="fa fa-github fa-2x text-dark" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="py-3 text-muted">
        Copyright &copy; 2020 Food Cart. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
