<app-navbar></app-navbar>

<!--Carousel-->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/img/carousel-image1.jpg"
        class="d-block w-100"
        alt="Slide 1"
      />
      <div class="carousel-caption d-md-block">
        <h4>Great food. Tastes good.</h4>
        <p>
          Everything should be as simple as it is, but not simpler; Believe that
          life is worth living and your belief will help create the fact. We
          help your ideas come to life. Remember, everything should be simple;
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/carousel-image2.jpg"
        class="d-block w-100"
        alt="Slide 2"
      />
      <div class="carousel-caption d-md-block">
        <h4>Eat healthy. Stay healthy</h4>
        <p>
          Believe in yourself! Have faith in your abilities! Without a humble
          but reasonable confidence in your own powers you cannot be successful
          or happy. Accept no one's definition.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/carousel-image3.jpg"
        class="d-block w-100"
        alt="Slide 3"
      />
      <div class="carousel-caption d-md-block">
        <h4>Health is Wealth</h4>
        <p>
          Healthy does NOT mean starving yourself EVER. Healthy means eating the
          right food in the right amount
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--End-->

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 card-quote">
      <h4 class="quote text-center">
        Good food is like music to the stomach. Every bite makes you want to
        dance
      </h4>
      <img src="assets/img/card-img.png" class="card-img" alt="FoodCart" />
    </div>
    <div class="col-md-8">
      <div class="card-body text-center">
        <h2 class="card-title">Great food. Tastes good.</h2>
        <h4 class="card-text quote-h4">If you can dream it, you can do it.</h4>
        <p class="card-text description">
          Learn from the past, set vivid, detailed goals for the future, and
          live in the only moment of time over which you have any control: now.
          Optimism is the faith that leads to achievement. Nothing can be done
          without hope and confidence. If you can dream it, you can do it. Do it
          now, not tomorrow. Always continue the climb. It is possible for you
          to do.
        </p>
        <br />
        <div class="button">
          <a class="btn-primary btn-lg" href="#">See the menu</a>
          <a class="btn-secondary btn-lg" href="#">Order your dishes</a>
        </div>
        <br />
        <img
          class="img-bottom-right"
          src="assets/img/overlay-1.png"
          alt="demo"
        />
      </div>
    </div>
  </div>
</div>

<div class="row subscribe">
  <div class="col-md-4 mx-auto">
    <h4>Drop us your email address and stay connected</h4>
  </div>
  <div class="col-md-2 mx-auto">
    <input
      type="text"
      class="form-control"
      placeholder="Your Name"
      aria-label="Username"
    />
  </div>
  <div class="col-md-2 mx-auto">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      aria-label="Email"
    />
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary mx-auto">Subscribe</button>
  </div>
</div>

<app-footer></app-footer>
