.dropdown-menu {
    width: 250px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, .1);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}