<app-navbar></app-navbar>

<div class="container my-5 py-5">
  <p class="h4 mb-5">My Past Orders</p>

  <div *ngIf="searching === true" class="my-5 py-5">
    <div class="text-center">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div *ngIf="isEmpty === true" class="my-5 py-5 text-center">
    <p class="h4">No Orders placed yet.</p>
    <p class="h5">Go ahead & search for many more tongue twisters!!!</p>
  </div>

  <div *ngIf="searching === false" class="row">
    <div *ngFor="let order of orders; let i = index" class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <p class="h5">Shipped To:</p>
          <p *ngIf="addresses[i]" class="h6">
            {{ addresses[i].firstname }}&nbsp;{{ addresses[i].lastname }}
          </p>
          <p *ngIf="addresses[i]">
            {{ addresses[i].building }},&nbsp;{{
              addresses[i].street
            }},&nbsp;Landmark:&nbsp;{{ addresses[i].landmark }},&nbsp;{{
              addresses[i].city
            }}:&nbsp;{{ addresses[i].zip }},&nbsp;{{ addresses[i].state }}
          </p>
        </div>
        <img
          *ngIf="foods[i]"
          src="{{ foods[i].image }}"
          class="card-img-top"
          alt="Food Item"
        />
        <div class="card-body">
          <h5 *ngIf="foods[i]" class="card-title">{{ foods[i].name }}</h5>
          <p *ngIf="foods[i]" class="card-text">₹&nbsp;{{ foods[i].price }}</p>
          <p class="card-text text-muted">
            Quantity:&nbsp;{{ order.quantity }}
          </p>
        </div>
        <div class="card-footer text-muted">
          <p>
            <small>Ordered on:&nbsp;{{ order.date }}</small>
          </p>
          <p>
            <small *ngIf="restaurants[i]"
              >Ordered from:&nbsp;{{ restaurants[i].name }}</small
            >
          </p>
          <p>
            <small *ngIf="restaurants[i]"
              >Branch:&nbsp;{{ restaurants[i].street }},&nbsp;{{
                restaurants[i].city
              }}:&nbsp;{{ restaurants[i].zip }},&nbsp;{{
                restaurants[i].state
              }}</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
