.food-bg1 {
  background-image: url("../../assets/plantbased-diet.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bg-solid {
  /* background-image: url("../../assets/color-concrete-wall-background_1323-259.jpg"); */
  background-position: center;
  background-size: cover;
}

.card {
  margin: 0 auto;
  float: none;
  max-width: 50%;
  background-color: rgba(10, 10, 10, 0.3);
}

.card-header,
.card-footer {
  opacity: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 75%;
  }
}

@media only screen and (max-width: 576px) {
  .card {
    max-width: 100%;
  }
}
