@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.decrease-btn,
.increase-btn {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.quantity-btn {
  background-color: white;
  border: 1px solid #ccc;
  width: 40%;
  padding: 2px;
  cursor: context-menu;
}

.save-btn,
.delete-btn {
  border-radius: 50%;
  background-color: white;
  border: none;
}

.save-btn:hover,
.delete-btn:hover {
  color: #2347d6;
}

.product-name {
  color: black;
}

.product-name:hover {
  color: #2874f0;
  cursor: pointer;
  text-decoration: none;
}

._1RLi8m {
  border-top: 1px solid #f0f0f0;
  background: #fff;
  padding: 16px 22px;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
}

._31gTpz {
  text-align: right;
}

._1RLi8m {
  border-top: 1px solid #f0f0f0;
  background: #fff;
  padding: 16px 22px;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
}

._31gTpz {
  text-align: right;
}

._1RLi8m .iwYpF9 {
  width: auto;
}

._1RLi8m .iwYpF9 {
  width: auto;
}

._2AkmmA._7UHT_c {
  background: #fbc02d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  font-size: 16px;
}

.iwYpF9 {
  width: 100%;
  padding: 16px 30px;
  min-width: 250px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.iwYpF9 {
  width: 100%;
  padding: 16px 30px;
  min-width: 250px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

._2AkmmA {
  display: inline-block;
  border-radius: 2px;
  color: #212121;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  transition: box-shadow 0.2s ease;
  vertical-align: super;
  background: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0px;
}
