<app-navbar></app-navbar>

<div class="container mb-5">
  <div *ngIf="isEmpty === true" class="text-center my-5 py-5">
    <p class="h3">Cart is empty!!!</p>
    <p class="h4 mb-3">Add items to the cart.</p>
    <a routerLink="/restaurants" type="button" class="btn btn-outline-info"
      >Go to Restaurants</a
    >
  </div>
  <div *ngIf="isEmpty === false" class="row">
    <div class="col-lg-8 py-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">My Cart</h4>
        </div>
        <ul class="list-group list-group-flush" id="items-list">
          <div *ngIf="searching === true">
            <div class="text-center my-5">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <li
            *ngFor="let item of items; let i = index"
            class="list-group-item p-0 m-0"
          >
            <div class="row no-gutters py-3">
              <div class="col-sm-3 pl-3 m-0">
                <div class="product-image">
                  <img
                    src="{{ foodImages[i] }}"
                    alt="Product"
                    width="110px"
                    height="120px"
                  />
                </div>
                <div class="my-4 counter-buttons">
                  <button
                    class="decrease-btn"
                    [disabled]="item.quantity === 1"
                    (click)="decreaseQuantity(item)"
                  >
                    -
                  </button>
                  <input
                    class="quantity-btn text-center"
                    [readonly]="true"
                    [(ngModel)]="item.quantity"
                  />
                  <button class="increase-btn" (click)="increaseQuantity(item)">
                    +
                  </button>
                </div>
              </div>
              <div class="col-sm-5 p-0 m-0">
                <a
                  class="h6 mb-0 pb-1 product-name text-ellipsis"
                  id="product-title"
                  >{{ foodNames[i] }}</a
                >

                <div class="my-3">
                  <span class="h4" id="current-price"
                    >₹{{ foodPrices[i] }}</span
                  >
                </div>
                <div class="mt-3">
                  <!-- <button
                    type="button"
                    class="h6 mr-3 save-btn"
                    id="save-button"
                  >
                    SAVE FOR LATER
                  </button> -->
                  <button
                    type="button"
                    class="h6 delete-btn"
                    id="delete-button"
                    (click)="deleteItem(item)"
                  >
                    REMOVE
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="_31gTpz _1RLi8m d-flex flex-row-reverse sticky-bottom">
        <button class="_2AkmmA iwYpF9 _7UHT_c" (click)="placeOrder()">
          <span>Place Order</span>
        </button>
      </div>
    </div>
    <div class="col-lg-4 py-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-muted">PRICE DETAILS</h5>
        </div>
        <ul class="list-group list-group-flush" id="price-list">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-left">
                <p>Price</p>
              </div>
              <div class="col-6 text-right">
                <p>₹{{ orderTotal }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-left">
                <p>Delivery Charges</p>
              </div>
              <div class="col-6 text-right">
                <p><span class="text-success">FREE</span></p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-left">
                <p class="h5">Total Amount</p>
              </div>
              <div class="col-6 text-right">
                <p class="h5">₹{{ orderTotal }}</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-body">
          <p class="text-success h6">You will save ₹50 on this order</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
