a {
  text-decoration: none;
  color: black;
}

a :hover {
  color: blue;
  cursor: pointer;
}

small a:hover {
  color: blue;
  cursor: pointer;
}

img {
  height: 50px;
  width: 50px;
}

.search {
  --background: #ffffff;
  --text-color: #414856;
  --primary-color: #aba9b1;
  --border-radius: 10px;
  --width: 190px;
  --height: 55px;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.search input[type="text"] {
  position: relative;
  width: var(--height);
  height: var(--height);
  font: 400 16px "Varela Round", sans-serif;
  color: var(--text-color);
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0 0 0 40px;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.search input[type="text"]:focus {
  z-index: 0;
  opacity: 1;
  width: var(--width);
}
.search input[type="text"]:focus ~ .symbol::before {
  width: 0%;
}
.search input[type="text"]:focus ~ .symbol:after {
  -webkit-clip-path: inset(0% 0% 0% 100%);
  clip-path: inset(0% 0% 0% 100%);
  -webkit-transition: -webkit-clip-path 0.04s linear 0.105s;
  transition: -webkit-clip-path 0.04s linear 0.105s;
  transition: clip-path 0.04s linear 0.105s;
  transition: clip-path 0.04s linear 0.105s,
    -webkit-clip-path 0.04s linear 0.105s;
}
.search input[type="text"]:focus ~ .symbol .cloud {
  top: -30px;
  left: -30px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search input[type="text"]:focus ~ .symbol .lens {
  top: 20px;
  left: 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  fill: var(--primary-color);
  -webkit-transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
}
.search .symbol {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.search .symbol:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.search .symbol:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 21px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 1;
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
  -webkit-transition: -webkit-clip-path 0.04s linear 0.225s;
  transition: -webkit-clip-path 0.04s linear 0.225s;
  transition: clip-path 0.04s linear 0.225s;
  transition: clip-path 0.04s linear 0.225s,
    -webkit-clip-path 0.04s linear 0.225s;
}
.search .symbol .cloud,
.search .symbol .lens {
  position: absolute;
  fill: #fff;
  stroke: none;
  top: 50%;
  left: 50%;
}
.search .symbol .cloud {
  width: 35px;
  height: 32px;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.search .symbol .lens {
  fill: #fff;
  width: 16px;
  height: 16px;
  z-index: 2;
  top: 24px;
  left: 24px;
  -webkit-transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
  transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
}

body {
  background: #e8ebf3;
  height: 100vh;
  font: 400 16px "Varela Round", sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
