<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
        class="d-block w-100"
        alt="Slide 1"
      />
      <div class="carousel-caption d-md-block">
        <h5>Fast Food & Snacks</h5>
        <p>
          From burger to pizza to french fries & much more. All the delicacies
          that you want.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&auto=format&fit=crop&w=995&q=80"
        class="d-block w-100"
        alt="Slide 2"
      />
      <div class="carousel-caption d-md-block">
        <h5>Breakfast & Brunch</h5>
        <p>
          Oatmeals, cornflakes, healthy nutritous combinations on your plate
          that creates an explotion of various falvors in your mouth.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1534422298391-e4f8c172dddb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        class="d-block w-100"
        alt="Slide 3"
      />
      <div class="carousel-caption d-md-block">
        <h5>Homemade Feel</h5>
        <p>
          Get a taste of your favorite dishes that can make you feel like home,
          even when you're out.
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
