<div class="container">
  <div class="heading text-center my-2">
    <h2>Meet Our Team</h2>
  </div>

  <div class="row team-row">
    <div class="col-md-3 col-sm-4 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="../../assets/img/woman.png" alt="" />
          <div class="overlay">
            <div class="team-details text-center">
              <p>Where dedication meets excellence, you will always find us.</p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Delfia Ghosh</h6>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-3 col-sm-4 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="../../assets/img/man.png" alt="" />
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Our passion and dedication to our client needs drives us more
                faster to deliver at rapid pace.
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Rishab Prasad</h6>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-3 col-sm-4 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="../../assets/img/woman.png" alt="" />
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                We at our team solely believes that prototype is worth showing
                1000 pictures.
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Tilagavathi M</h6>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-3 col-sm-4 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="../../assets/img/woman.png" alt="" />
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Adding colors isn't just adding colors to page...We add colors
                to your experience.
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Govindu Sandhya</h6>
      </div>
    </div>
    <!-- end team member -->
  </div>
</div>
