
.rounded {
    border-radius: 1rem
}
.display-4{
    font-weight: 400;
}

input[type="radio"] {
    margin-right: 5px
}
.card-img{
    opacity: 0.6;
    height: 700px;
    object-fit: cover;
}
@media only screen and (max-width: 576px){
    #list-home{
        padding-bottom: 100px;
    }
    form{
        padding-bottom: 50px;
    }
}

