<app-navbar></app-navbar>

<div class="container py-5">
  <div class="card shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Billing Address</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li *ngIf="isSearching === true" class="list-group-item">
          <div class="text-center py-5">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </li>
        <li
          *ngFor="let address of addresses"
          class="list-group-item user-address"
          (click)="selectAddres(address)"
        >
          <p class="h5">{{ address.firstname }}&nbsp;{{ address.lastname }}</p>
          <p>
            {{ address.building }},&nbsp;{{ address.street }},&nbsp;{{
              address.street
            }},&nbsp;Landmark:&nbsp;{{ address.landmark }},&nbsp;{{
              address.city
            }}:&nbsp;{{ address.zip }},&nbsp;{{ address.state }}
          </p>
          <p class="h6">{{ address.phone }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
