<app-navbar></app-navbar>

<div class="container py-5">
  <div class="card shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Shipping Address</h3>
          <p class="h6 text-muted">Select your shipping address</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li *ngIf="isEmpty === true" class="list-group-item">
          <p class="h5">No addresses added yet.&nbsp;😞</p>
          <p class="h6">
            Go to 👉&nbsp;<a routerLink="/myaddress" class="h5">Addresses</a
            >&nbsp;to save your billing address.&nbsp;😃
          </p>
        </li>
        <li
          *ngIf="isSearching === true && isEmpty === false"
          class="list-group-item"
        >
          <div class="text-center py-5">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </li>
        <li
          *ngFor="let address of addresses"
          class="list-group-item user-address"
          (click)="selectAddress(address)"
        >
          <p class="h5">
            {{ address.firstname }}&nbsp;{{ address.lastname
            }}<span class="badge badge-pill badge-secondary ml-3 h5 text-white"
              >Current</span
            >
          </p>
          <p>
            {{ address.building }},&nbsp;{{
              address.street
            }},&nbsp;Landmark:&nbsp;{{ address.landmark }},&nbsp;{{
              address.city
            }}:&nbsp;{{ address.zip }},&nbsp;{{ address.state }}
          </p>
          <p class="h6">{{ address.phone }}</p>
        </li>
        <li *ngIf="isEmpty === false" class="list-group-item">
          <button class="btn btn-primary" (click)="goToAddress()">
            Change Current Address
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
