<app-navbar></app-navbar>

<div class="container py-5">
  <div class="card shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">My Addresses</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button class="btn btn-info" (click)="address()">Add Address</button>
        </li>
        <li
          *ngFor="let address of addresses; let i = index"
          class="list-group-item"
        >
          <div *ngIf="isSearching === true" class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngIf="isSearching === false && !editMode[i]">
            <div class="h5">
              {{ address.firstname }}&nbsp;{{ address.lastname }}

              <div class="dropdown float-right">
                <i
                  class="fas fa-ellipsis-v dropdown-toggle"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="font-size: 18px"
                ></i>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownMenuButton"
                >
                  <a class="dropdown-item" (click)="edit(address.id, i)"
                    >Edit</a
                  >
                  <a class="dropdown-item" (click)="remove(address)">Remove</a>
                </div>
              </div>
            </div>
            <p>
              {{ address.building }},&nbsp;{{ address.street }},&nbsp;{{
                address.street
              }},&nbsp;Landmark:&nbsp;{{ address.landmark }},&nbsp;{{
                address.city
              }}:&nbsp;{{ address.zip }},&nbsp;{{ address.state }}
            </p>
            <p class="h6">{{ address.phone }}</p>
          </div>

          <div *ngIf="isSearching === false && editMode[i]">
            <form
              [formGroup]="billForm"
              #billingForm="ngForm"
              class="needs-validation"
              novalidate
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    formControlName="firstName"
                    placeholder="First Name"
                    [(ngModel)]="address.firstname"
                    [ngClass]="{
                      'is-invalid': f.firstName.errors && f.firstName.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.firstName.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the First Name
                  </div>
                  <div
                    *ngIf="f.firstName.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter a max of [{{
                      f.firstName.errors?.maxlength.requiredLength
                    }}] characters.
                  </div>
                  <div
                    *ngIf="f.firstName.errors?.pattern"
                    class="invalid-feedback"
                  >
                    This field accepts only Alphabetical characters and spaces
                    only.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    formControlName="lastName"
                    placeholder="Last Name"
                    [(ngModel)]="address.lastname"
                    [ngClass]="{
                      'is-invalid': f.lastName.errors && f.lastName.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.lastName.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the Last Name
                  </div>
                  <div
                    *ngIf="f.lastName.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter a max of [{{
                      f.lastName.errors?.maxlength.requiredLength
                    }}] characters.
                  </div>
                  <div
                    *ngIf="f.lastName.errors?.pattern"
                    class="invalid-feedback"
                  >
                    This field accepts only Alphabetical characters and spaces
                    only.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="buildingNo"
                    formControlName="buildingNo"
                    placeholder="Building No., Apartment Name"
                    [(ngModel)]="address.building"
                    [ngClass]="{
                      'is-invalid': f.buildingNo.errors && f.buildingNo.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.buildingNo.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the Building No., Apartment Name
                  </div>
                  <div
                    *ngIf="f.buildingNo.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter a max of [{{
                      f.buildingNo.errors?.maxlength.requiredLength
                    }}] characters.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="streetName"
                    formControlName="streetName"
                    placeholder="Street Name"
                    [(ngModel)]="address.street"
                    [ngClass]="{
                      'is-invalid': f.streetName.errors && f.streetName.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.streetName.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the Street Name
                  </div>
                  <div
                    *ngIf="f.streetName.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter a max of [{{
                      f.streetName.errors?.maxlength.requiredLength
                    }}] characters.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    formControlName="city"
                    placeholder="City"
                    [(ngModel)]="address.city"
                    [ngClass]="{
                      'is-invalid': f.city.errors && f.city.touched
                    }"
                    required
                  />
                  <div *ngIf="f.city.errors?.required" class="invalid-feedback">
                    Please enter the City Name
                  </div>
                  <div
                    *ngIf="f.city.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter a max of [{{
                      f.city.errors?.maxlength.requiredLength
                    }}] characters.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    formControlName="state"
                    placeholder="State"
                    [(ngModel)]="address.state"
                    [ngClass]="{
                      'is-invalid': f.state.errors && f.state.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.state.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the State Name
                  </div>
                  <div
                    *ngIf="f.state.errors?.minlength"
                    class="invalid-feedback"
                  >
                    Please enter a min of [{{
                      f.state.errors?.minlength.requiredLength
                    }}] characters.
                  </div>
                  <div
                    *ngIf="f.state.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter a max of [{{
                      f.state.errors?.maxlength.requiredLength
                    }}] characters.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="zipCode"
                    formControlName="zipCode"
                    placeholder="Zip Code"
                    [(ngModel)]="address.zip"
                    [ngClass]="{
                      'is-invalid': f.zipCode.errors && f.zipCode.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.zipCode.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the Zip Code
                  </div>
                  <div
                    *ngIf="f.zipCode.errors?.pattern"
                    class="invalid-feedback"
                  >
                    Please enter only valid Zip Code
                  </div>
                  <div
                    *ngIf="f.zipCode.errors?.maxlength"
                    class="invalid-feedback"
                  >
                    Please enter only valid [{{
                      f.zipCode.errors?.maxlength.requiredLength
                    }}] digited Zip Code
                  </div>
                  <div
                    *ngIf="f.zipCode.errors?.minlength"
                    class="invalid-feedback"
                  >
                    Please enter only valid [{{
                      f.zipCode.errors?.minlength.requiredLength
                    }}] digited Zip Code
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="landmark"
                    formControlName="landmark"
                    placeholder="Landmark"
                    [(ngModel)]="address.landmark"
                    [ngClass]="{
                      'is-invalid': f.landmark.errors && f.landmark.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.landmark.errors?.required"
                    class="invalid-feedback"
                  >
                    Enter the Landmark
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNo"
                    formControlName="phoneNo"
                    placeholder="Phone No."
                    [(ngModel)]="address.phone"
                    [ngClass]="{
                      'is-invalid': f.phoneNo.errors && f.phoneNo.touched
                    }"
                    required
                  />
                  <div
                    *ngIf="f.phoneNo.errors?.required"
                    class="invalid-feedback"
                  >
                    Please enter the Phone Number
                  </div>
                  <div
                    *ngIf="
                      f.phoneNo.errors?.maxlength ||
                      f.phoneNo.errors?.minlength ||
                      f.phoneNo.errors?.pattern
                    "
                    class="invalid-feedback"
                  >
                    Please enter only valid [10] digit Phone Number
                  </div>
                </div>
              </div>

              <hr />
              <div class="container button">
                <div
                  class="snippet-content"
                  fxLayout="column"
                  fxLayoutAlign="space-around center"
                >
                  <button
                    class="sbmt-btn"
                    [disabled]="billingForm.invalid"
                    (click)="onCheckOut()"
                  >
                    <div
                      class="sbmt-btn-txt"
                      [@buttonTextStateTrigger]="buttonTextState"
                      (@buttonTextStateTrigger.done)="
                        buttonTextTransitioned($event)
                      "
                    >
                      {{ buttonText }}
                    </div>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-warning ml-2"
                    (click)="cancelEdit(i)"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="list-group-item text-center">
          <button class="btn btn-warning text-white" (click)="proceed()">
            Checkout
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
