.form-control.ng-invalid.ng-touched.ng-untouched {
  border: 2px solid red;
}
.text {
  color: red;
  font-size: smaller;
  padding-bottom: 10px;
}

.is-invalid {
  border: solid 2px red;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
  font-size: medium;
  padding-right: 8px;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .card {
    max-width: 75%;
  }
}

@media only screen and (max-width: 560px) {
  .card {
    max-width: 100%;
  }
}
