<div class="container p-3">
  <div class="offset-3 col-6">
    <div class="card-body">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <form [formGroup]="form" (submit)="submit()">
          <div class="form-group">
            <label for="oldpassword">Old Password</label>
            <input
              id="oldpassword"
              formControlName="oldpassword"
              type="password"
              class="form-control"
              [ngClass]="
                form.controls['oldpassword'].touched &&
                form.controls['oldpassword'].invalid
                  ? 'is-invalid'
                  : ''
              "
            />
            <div
              class="text"
              *ngIf="
                form.controls['oldpassword'].touched &&
                form.controls['oldpassword'].hasError('required')
              "
            >
              This field is required!
            </div>
          </div>

          <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input
              id="newpassword"
              formControlName="newpassword"
              type="password"
              class="form-control"
              [ngClass]="
                form.controls['newpassword'].touched &&
                form.controls['newpassword'].invalid
                  ? 'is-invalid'
                  : ''
              "
            />
            <div
              class="text"
              [ngClass]="
                form.controls['newpassword'].hasError('required') ||
                form.controls['newpassword'].hasError('minlength')
                  ? 'red'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                form.controls["newpassword"].touched ||
                form.controls["newpassword"].hasError("required") ||
                form.controls["newpassword"].hasError("minlength")
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Must be atleast 8 characters!
            </div>
            <div
              class="text"
              [ngClass]="
                form.controls['newpassword'].hasError('required') ||
                form.controls['newpassword'].hasError(
                  'hasCapitalCase' && 'hasSmallCase'
                )
                  ? 'red'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                form.controls["newpassword"].touched ||
                form.controls["newpassword"].hasError("required") ||
                form.controls["newpassword"].hasError(
                  "hasCapitalCase" && "hasSmallCase"
                )
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Must contain atleast one capital letter, small letter!
            </div>
            <div
              class="text"
              [ngClass]="
                form.controls['newpassword'].hasError('required') ||
                form.controls['newpassword'].hasError(
                  'hasSpecialCharacters' && 'hasNumber'
                )
                  ? 'red'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                form.controls["newpassword"].touched ||
                form.controls["newpassword"].hasError("required") ||
                form.controls["newpassword"].hasError(
                  "hasSpecialCharacters" && "hasNumber"
                )
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Must contain atleast one number and special character(s)!
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              type="password"
              class="form-control"
              [ngClass]="
                form.controls['confirmPassword'].touched &&
                form.controls['confirmPassword'].invalid
                  ? 'is-invalid'
                  : ''
              "
            />
            <label
              class="text"
              *ngIf="
                form.controls['confirmPassword'].touched &&
                form.controls['confirmPassword'].hasError('required')
              "
            >
              Password is Required!
            </label>
            <label
              class="text"
              *ngIf="
                form.controls['confirmPassword'].hasError('NoPassswordMatch')
              "
            >
              Password doesn't match
            </label>
          </div>

          <div class="btn-center">
            <button
              [disabled]="form.invalid"
              type="submit"
              class="btn btn-outline-warning btn-block font-weight-bold"
            >
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
